/* General form container styling */

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    width: 100%;
}

input[type="text"],
input[type="email"],
select
{
    padding: 10px;
    margin-bottom: 10px;
    border: solid, brown, 1px;
    width: 100%;
}

input[type="submit"] {
    background-color: brown;
    color: beige;
    padding: 10 px;
    width: 100%;
}

